* {
  font-family: 'Poppins', sans-serif;
}

.header {
  height: 30%;
  background-color: #2C73D2;
  color: #fff;
  font-size: larger;
  display: grid;
  place-items: center;
  position: relative;
}

.message {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
}

strong {
  font-weight: bolder;
  font-size: 50px;
}

.unavailable {
  text-align: center;
}

img {
  width: 50%;
  opacity: 0.5;
}
