<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header-header">
    <div class="category ion-padding-top">{{job.category}}</div>
    <div class="header ion-margin">
      <img src="../../../assets//profile/profile-1.png" alt="">
      <div class="header-text ion-margin-top ion-margin-bottom">{{job.email}}</div>
    </div>
  </div>

  <div class="details ion-margin-top">
    <ion-item class="ion-margin-top">
      <p>Job title</p>
      <p readonly slot="end">{{ job.title }}</p>
    </ion-item>

    <ion-item class="ion-margin-top">
      <p>Salary</p>
      <p readonly slot="end">GHS {{ job.salary }}</p>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-label position='stacked'>Job Description</ion-label>
      <ion-textarea readonly autoGrow='true' [value]="job.description"></ion-textarea>
    </ion-item>
  </div>

  <ion-card class="contact ion-padding ion-margin-top">
    <div class="contact-header ion-margin ion-margin-top">CONTACT</div>
    <div style="text-align: center;">
      <small>Press telephone icon to send message</small>
    </div>
    <ion-item (click)="sms()" class="ion-padding">
      <ion-text readonly>{{job.telephone}}</ion-text>
      <ion-icon slot="end" name="call-outline"></ion-icon>
    </ion-item>


    <ion-item class="ion-padding">
      <ion-text readonly>{{job.email}}</ion-text>
      <ion-icon slot="end" name="mail-outline"></ion-icon>
    </ion-item>

    <ion-item class="ion-padding">
      <ion-text readonly>{{job.location}}</ion-text>
      <ion-icon slot="end" name="location-outline"></ion-icon>
    </ion-item>
  </ion-card>

  <ion-button class="ion-margin-top remove" color="danger" expand="block" (click)="del()" *ngIf='delete'>Remove Job Listing</ion-button>
</ion-content>


