<ion-card class="ion-margin ion-padding">
  <div class="dashboard-header">
    <p>Latest Job Offers</p>
    <ion-icon name="analytics-outline"></ion-icon>
  </div>

  <ion-list class="div">
    <ion-item class="ion-margin-top">
      <ion-label>Teaching Job</ion-label>
      <ion-text slot="end">400GH</ion-text>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label>Painting Job</ion-label>
      <ion-text slot="end">600GH</ion-text>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label>Modelling Gig</ion-label>
      <ion-text slot="end">300GH</ion-text>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label>Security Personnel</ion-label>
      <ion-text slot="end">600GH</ion-text>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label>Body Guard</ion-label>
      <ion-text slot="end">100GH</ion-text>
    </ion-item>
  </ion-list>

</ion-card>
