* {
  font-family: 'Poppins', sans-serif;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  text-decoration: dashed;
  font-weight: bold;
}

.div {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}
