* {
  font-family: 'Poppins', sans-serif;
}

ion-card {
  min-height: 50%;
}

.empty-box-container {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

img {
  opacity: 0.5;
  width: 50%;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  text-decoration: dashed;
  font-weight: bold;
}

.div {
  padding: 0;
  margin: 0;
}

ion-text {
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
}
