<ion-card class="ion-margin ion-padding">
  <div class="dashboard-header">
    <p>Latest Job Offers</p>
    <ion-icon name="analytics-outline"></ion-icon>
  </div>

  <div class="empty-box-container" *ngIf = 'listingService.joblistings.length == 0' >
      <img src="../../../assets/icon/empty-box.svg" alt="">
      <p>Unavailable Job</p>
  </div>

  <ion-list class="div" *ngIf = 'listingService.joblistings.length > 0'>
    <ion-item class="ion-margin-top" *ngFor = 'let listing of listingService.joblistings'>
      <p class="title">{{listing.title}}</p>
      <ion-text slot="end">GHS {{listing.salary}}</ion-text>
    </ion-item>
  </ion-list>
</ion-card>
