<div class="dashboard-container ion-margin ion-padding">
  <div class="dashboard-header">
    <p>Latest Job Offers</p>
    <ion-icon name="analytics-outline"></ion-icon>
  </div>

  <div class="div">
    <ion-item class="ion-margin-top">
      <ion-label>Teaching Job</ion-label>
      <ion-text slot="end">400GH/Month</ion-text>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label>Painting Job</ion-label>
      <ion-text slot="end">600GH/Month</ion-text>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label>Modelling Gig</ion-label>
      <ion-text slot="end">300GH/Month</ion-text>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label>Security Personnel</ion-label>
      <ion-text slot="end">600GH/Month</ion-text>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-label>Uber Driver</ion-label>
      <ion-text slot="end">100GH/Month</ion-text>
    </ion-item>
  </div>
</div>
