* {
  font-family: 'Poppins', sans-serif;
}


form {
  margin-top: 10%;
}

ion-item {
  font-weight: bolder;
  color: #000;
}

.logo-header {
  height: 20%;
}

.logo-header img {
  height: 100%;
}

.header-header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password {
  margin-top: 5%;
  cursor: pointer;
}

.create-account {
  text-decoration: none;
  font-weight: bold;
  font-size: small;
}

.text-header {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-header-bad {
  font-weight: bold;
  text-decoration: line-through;
}

.button-container {
  text-align: center;
  margin-top: 10%;
}

.passwordreset {
  margin-top: 10%;
}

ion-button {
  font-size: 16px;
  height: 45px;
}

.options {
  display: flex;
  align-items: center;
  margin-top: 5%;
  justify-content: center;
}

.options img {
  height: 25px;
  margin: 0px 10px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.options img:active {
  transform: scale(1.5);
}

a {
  margin-left: 5px;
  text-decoration: none;
  font-weight: bold;
}

.msg {
  background-color: #00C9A7;
  text-align: center;
  font-weight: bolder;
  color: #fff;
  display: none;
  padding: 5%;
}

#error {
  background-color: #CF0012;
}
