<div id='error' class="msg error">{{err_msg}}</div>

<ion-content>
  <div class="logo-header">
    <img src="../../../assets/headers/jobs-rus-5.png" alt="">
  </div>

  <div class="header-header">JobsRUS</div>

  <form class="ion-margin" (ngSubmit)="emailSignIn(user.email, user.password)">
    <ion-item>
      <ion-input [(ngModel)]='user.email' [ngModelOptions]="{standalone: true}" placeholder='Enter Email' type='email' clearInput></ion-input>
      <ion-icon name="mail" slot="start"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]='password' [ngModelOptions]="{standalone: true}" placeholder='Enter Password' type='password' clearInput></ion-input>
      <ion-icon name="lock-closed" slot="start"></ion-icon>
    </ion-item>

    <ion-item lines='none'>
      <small slot="end"><ion-text class="forgot-password" routerLink='/passwordreset'>Forgot your password?</ion-text></small>
    </ion-item>

    <div class="button-container">
      <ion-button expand='block' type="submit" color='primary'>Log in</ion-button>
    </div>
  </form>

  <small class="center">- Or sign in with -</small>
  <div class="options">
    <img (click)="authService.googleSignIn()" src="../../../assets/accounts-icons/google-4.svg" alt="">
    <img (click)="authService.facebookSignIn()" src="../../../assets/accounts-icons/facebook.png" alt="">
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="create-account center"> Don't have an account? <a routerLink='/registration'> Sign up </a></div>
  </ion-toolbar>
</ion-footer>
