<ion-header color="primary">
  <ion-toolbar>
    <ion-title>Select Category</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-no-margin ion-margin-top">
    <ion-row>
      <ion-col>
        <ion-card class="ion-padding ion-no-margin">
            <p>Agriculture</p>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="ion-padding ion-no-margin">
          <p>Human Services</p>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-card class="ion-padding ion-no-margin">
            <p>Business</p>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="ion-padding ion-no-margin">
          <p>Information Technology</p>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-card class="ion-padding ion-no-margin">
          <p>Education & Training</p>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="ion-padding ion-no-margin">
            <p>Architecture & Construction</p>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-card class="ion-padding ion-no-margin">
            <p>Arts and Entertainment</p>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="ion-padding ion-no-margin">
            <p>Other</p>
        </ion-card>
      </ion-col>
    </ion-row>

  </div>
</ion-content>

