<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='home'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header ion-margin">
    <img src="../../../assets//profile/profile.png" alt="">
    <h3>User Profile</h3>
  </div>

  <div class="details ion-padding ion-margin-top">
    <ion-item class="ion-margin-top">
      <div>First Name</div>
      <div slot="end">{{ currentuser?.firstname }}</div>
    </ion-item>

    <ion-item class="ion-margin-top">
      <div>Last Name</div>
      <div slot="end">{{currentuser?.lastname}}</div>
    </ion-item>

    <ion-item class="ion-margin-top">
      <div>Email</div>
      <div slot="end">{{currentuser?.email}}</div>
    </ion-item>

    <ion-item class="ion-margin-top">
      <div>Telephone</div>
      <div slot="end">{{currentuser?.telephone}}</div>
    </ion-item>
  </div>
</ion-content>
