<div class="color">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</div>

<ion-content>
  <div style="text-align: center;"><strong>My Profile</strong></div>

  <div class="header">
    <div class="image-container">
      <img src="../../../assets/profile/profile-1.png" alt="">
    </div>

    <div class="message">
      {{currentuser?.email}}
    </div>
  </div>

  <div class="details ion-padding ion-margin-top">
    <ion-item class="ion-margin-top">
      <div>First Name</div>
      <div slot="end">{{ currentuser?.firstname }}</div>
    </ion-item>

    <ion-item class="ion-margin-top">
      <div>Last Name</div>
      <div slot="end">{{currentuser?.lastname}}</div>
    </ion-item>

    <ion-item class="ion-margin-top">
      <div>Email</div>
      <div slot="end">{{currentuser?.email}}</div>
    </ion-item>

    <ion-item class="ion-margin-top">
      <div>Telephone</div>
      <div slot="end">{{currentuser?.telephone}}</div>
    </ion-item>
  </div>
</ion-content>
