* {
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: #2c74d2c1;
  color: #fff;
  height: 30vh;
  position: relative;
  font-size: larger;
}

.text-header{
  height: 20vh;
  display: grid;
  place-items: center;
}

.bottom-header {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.number {
  font-weight: bolder;
  font-size: 50px;
}

.unavailable {
  text-align: center;
  font-size: larger;
}

.unavailable img {
  width: 50%;
}

.title {
  white-space: nowrap;
  max-width: 13ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
