<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='categories'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <div class="text-header">{{category}}</div>
    <div class="bottom-header">
      <div class="message">Job Listings</div>
      <div class="number">{{listing?.length}}</div>
    </div>
  </div>

  <ion-list *ngIf = 'listing?.length > 0'>
    <ion-item class="ion-margin-top" *ngFor='let job of listing;let i = index'>
      <ion-text slot="start">{{i+1}}</ion-text>
      <ion-text class="title">{{job.title}}</ion-text>
      <ion-text slot="end">GHS {{job.salary}}</ion-text>
      <ion-text color="primary" slot="end" [routerLink]= "['/job-detail', job.id]">more</ion-text>
    </ion-item>
  </ion-list>

  <div class="unavailable ion-margin-top" *ngIf = 'listing?.length == 0'>
    <img src="../../../assets/icon/empty-box.svg" alt="">
    <p>Unavailable Job Listing</p>
  </div>
</ion-content>
