.dash-cards {
  height: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(136, 136, 136, 0);
  background-color: #2c74d2;
  position: relative;
  color: #fff;
}

.dash-cards strong{
  color: #fff;
  font-weight: bolder;
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: larger;
}
