* {
  font-family: 'Poppins', sans-serif;
}

.header-header {
    font-family: 'Poiret One', cursive;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bolder;
}

.header {
    font-weight: bolder;
    font-size: 25px;
    margin-top: 15%;
}

form {
    margin-top: 10%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-login {
    margin-top: 20%;
}

ion-item {
    font-weight: bolder;
    color: #000;
}

a {
    text-decoration: none;
}