* {
    font-family: 'Poppins', sans-serif;
}

.welcome-area {
    height: 15%;
    background-color: #2C73D2;
    color: #fff;
    position: relative;
}

.welcome-area header {
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
}

.welcome-area header span {
  font-size: 20px;
  font-weight: bold;
}

.cards-container {
  margin-bottom: 10%;
  height: 20%;
}
