* {
  font-family: 'Poppins', sans-serif;
}

.logo-header {
    height: 20%;
    text-align: center;
}

.logo-header img {
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.header {
    font-weight: bold;
    font-size: 28px;
    margin-top: 5%;
}

a {
    margin-left: 5px;
    text-decoration: none;
    font-weight: bold;
  }

ion-button {
    font-size: 16px;
    height: 45px;
}

.button-container {
    margin-top: 20px;
}

.sign-up-text {
    margin-bottom: 10%;
    font-weight: normal;
}

.sign-in{
  font-size: small;
}

.sign-in {
    text-decoration: none;
    font-weight: bold;
}