<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='welcome'></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="header">Create Account</div>

  <div class="sign-up-text">
    Sign up to get started !
  </div>

  <form (ngSubmit)="this.auth.signUp(user.email, user.password)">
    <ion-item class="">
      <ion-label position='stacked'>First Name</ion-label>
      <ion-input [(ngModel)]='user.firstname' [ngModelOptions]="{standalone: true}" type='text' clearInput></ion-input>
    </ion-item>

    <ion-item class="">
      <ion-label position='stacked'>Last Name</ion-label>
      <ion-input [(ngModel)]='user.lastname' [ngModelOptions]="{standalone: true}" type='text' clearInput></ion-input>
    </ion-item>

    <ion-item class="">
      <ion-label position='stacked'>Email</ion-label>
      <ion-input [(ngModel)]='user.email' [ngModelOptions]="{standalone: true}" type='email' clearInput></ion-input>
    </ion-item>

    <ion-item class="">
      <ion-label position='stacked'>Password</ion-label>
      <ion-input [(ngModel)]='user.password' [ngModelOptions]="{standalone: true}" type='password' clearInput></ion-input>
    </ion-item>

    <ion-item class="">
      <ion-label position='stacked'>Confirm Password</ion-label>
      <ion-input [(ngModel)]='password_confirmation' [ngModelOptions]="{standalone: true}" type='password' clearInput></ion-input>
    </ion-item>

    <ion-item class="">
      <ion-label position='stacked'>Telephone Number</ion-label>
      <ion-input [(ngModel)]='user.telephone' [ngModelOptions]="{standalone: true}" type='tel' clearInput></ion-input>
    </ion-item>

    <div class="button-container">
      <ion-button type='submit' expand='block'>Create Account</ion-button>
    </div>
  </form>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-padding">
    <div class="sign-in center"> Already have an account? <a routerLink='/welcome'> Sign in </a></div>
  </ion-toolbar>
</ion-footer>
